@media (min-width:1150px){

    .suggestContainerMobile{
        display: none;
    }
    .suggestContainer{
        background: #FFFFFF;
        display: flex;
border-radius: 69px;
height: 300px;
padding: 2% 5% 2% 5%;
    }

    .imgContainer{
        height: 100%;
        width: 200px;
        background-color: blueviolet;
    }

    .textContainer{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        width: 80%;
    }

    .heading{
        font-style: italic;

        font-weight: 700;
font-size: 42px;
line-height: 0px;
/* or 0% */


color: #000000;

    }

    .body{
        margin-top: 10px;
        font-weight: 500;
font-size: 12px;
line-height: 134.35%;
/* or 16px */


color: #000000;

    }

    .link{
        font-weight: 500;
font-size: 12px;
line-height: 134.35%;
/* or 16px */


color: #1A98FF;

    }
}

@media (max-width:1150px){

    .suggestContainer{
        display: none;
    }

    .suggestContainerMobile{
        width: 100%;
        min-height: 400px;
        background-color: #FFFFFF;
        border-radius: 18px;
        margin-top: 20px;
        padding: 5%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .mobileUpperContainer{
        width: 100%;
        height: 50%;
        min-height: 200px;
        display: flex;
        justify-content: space-evenly;
    }

    .imgContainerMobile{
        /* height: 100%; */
        width: 150px;
        background-color: blueviolet;
    }

    .headingMobile{
        font-style: italic;
        align-items: center;
        display: flex;

        font-weight: 700;
font-size: 42px;
line-height: 0px;
color: #000000;
    }

    .textContainerMobile{
       display: flex;
       flex-direction: column;
       row-gap: 20px;
    }

    .bodyMobile{
        font-weight: 500;
        font-size: 12px;
        line-height: 134.35%;
        /* or 16px */
        
        
        color: #000000;
    }

    .linkMobile{
        font-weight: 500;
font-size: 12px;
line-height: 134.35%;
/* or 16px */


color: #1A98FF;

    }


    
}